




  
  body {
    font-weight: 400;   
    background-image: url(../images/green.jpg);
    background-size:cover;
    width:95%;
    padding:0 .5em;
  }

      /* header designs */
  
  h1{
    font-family: Arial, Helvetica, sans-serif;    
    font-size:20px;
     margin-left:.25em;
     color:#C8F7C5;
    }
    
  header {      
    color:#C8F7C5;
    text-align: left;
    height:7em;
    background-image:url(../images/goldgavel.png) ;
    background-repeat:no-repeat;
    background-size: 100%;
    background-position:center;
    
  }
    
    
    
    
      /* main styles */

  main{
   
    color:#C8F7C5;      
    }
  
  
    .mainBox{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    margin-top:.5em;
    
    
  }

  .explainBox{
    background-image:url(../images/purpleback.png);
    background-size:cover;
    background-repeat: no-repeat;
    
    margin-bottom:.5em;
    padding:0 .5em;

    

  }
  p{
    margin-top:0;
  }
  h2{ 
    font-size:18px;
  }



/* nav style */

  .navBox{
    background-image:url(../images/purpleback.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding:0 .5em;
    margin-bottom: .05em;
    font-size:16px;
  }

  a:link {
    color: #C8F7C5;
  }
  
  /* visited link */
  a:visited {
    color: #C8F7C5;
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(0, 255, 34);
  }
  
  /* selected link */
  a:active {
    color: yellow;
  }

  /* contact */
  .contact{

    background-image:url(../images/purpleback.png) ;
    background-size: cover;
    background-size: 100%;
    padding:0 .5em;
    
  }

  .contact p{
    font-size:14px;
    color:#C8F7C5;
  }

  h3 {
    font-size:18px;
    margin-top:.5em;
    color:#C8F7C5;
    
  }



@media screen and (min-width: 768px){ 
  body {
    font-weight: 400;   
    background-image: url(../images/green.jpg);
    background-size:cover;
    width:95%;
    padding-left:.5em;
  }
  
  
  h1{
    font-size:30px;
    
  }

  header{
    background-size:100%;
    height:14em;
  }


  /* main */

  .explainBox{
    font-size: 18px;
  }

  h2{
    font-size: 24px;
  }

  
}

@media screen and (min-width: 1024px){
  body{
    width:90%;
  }
  h1{
    font-size: 34px;
    padding-top:5em;
    text-align: left;
  }

  h2{
    font-size:26px;
  }
  h3{
    font-size:24px;
  }

  header{
    width:800px;
    margin-top:-4em;
    margin-right:auto;
    margin-left: auto;
    background-position:center;
    height:17em;
  }

  .mainBox{
    margin-left:auto;
    margin-right:auto;
    width:800px;
    justify-items: space-evenly ;
    
  }

  .explainBox{
    width:auto;
  }

  .contact{
    width:785px;
    margin-right: auto;
    margin-left: auto;
    height:8em;
  }
  .contact a{
    font-size:18px;
  }
  .contact p{
    font-size: 18px;
  }
}









  