




  
  body {
    font-weight: 400;   
    background-image: url(../images/vintage-1.png);
    background-size:cover;
    width:95%;
    padding:0 .5em;
  }

      /* header designs */
  
  h1{
    font-family: Arial, Helvetica, sans-serif;    
    font-size:24px;
    margin-left:.25em;
    color:#000;
    }
    
  header {      
    color:#000;
    height:7em;
    background-color:lightgrey;
    background-image:url(../images/barbed1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    opacity: .9;
    
  }

    
    
      /* main styles */

  main{
   
    color:#000;      
    }
  
  
    .mainBox{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
    margin-top:.5em;
    
    
  }

  .explainBox{
    
    background-color:lightgrey;
    margin-bottom:.5em;
    padding:0 .5em;
    opacity: .9;
  }

  .promptBox{
    background-color:grey;
    margin-bottom:.5em;
    padding 0 .5em;
    opacity: .95;
  }
  
  p{
    margin-top:0;
  }
  h2{ 
    font-size:18px;
  }



/* nav style */

  .navBox{
    background-image:url(../images/purpleback.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding:0 .5em;
    margin-bottom: .05em;
    font-size:16px;
  }

  a{
    margin-left:1em;
  }

  a:link {
    color: blue;
  }
  
  /* visited link */
  a:visited {
    color: purple;
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(0, 255, 34);
  }
  
  /* selected link */
  a:active {
    color: yellow;
  }

  /* contact */
  .contact{

    background-color:lightgrey ;
    padding-top:0;
    padding-bottom:.5em;
    padding-left:.5em;
    padding-right:.5em;
    opacity: .9;
    background-image:url(../images/barbed1.jpg);
    background-size:cover;
    background-repeat: no-repeat;
    
    
  }

  .contact a{
    font-size:14px;
    margin-top:0;
    margin-left:0.5em;
  }

  .contact p{
    font-size:14px;
    color:#000;
    margin-bottom:0;
    margin-left:.5em;
  }

  h3 {
    font-size:16px;
    margin-top:.5em;
    margin-bottom:0;
    margin-left:0em;
    color:#000;
    
  }



@media screen and (min-width: 768px){ 
  body {
    font-weight: 400;   
    background-image: url(../images/vintage-1.png);
    background-size:cover;
    width:95%;
    padding-left:.5em;
  }
  
  
  h1{
    font-size:30px;
    text-align:center;
    
  }

  header{
    height:10em;
  }


  /* main */

  .explainBox{
    font-size: 18px;
  }

  h2{
    font-size: 24px;
  }

  h3{
    font-size:20px;
  }

  .contact{
    width:75%;
    margin-left:auto;
    margin-right:auto;
    height:10em;
  }
  .contact a{
    font-size: 18px;
  }

  .contact p {
    font-size:18px;
  }

  
}

@media screen and (min-width: 1024px){
  body{
    width:100%;
  }
  h1{
    font-size: 34px;
  }

  h2{
    font-size:26px;
  }
  h3{
    font-size:24px;
  }



  .mainBox{
    margin-left:auto;
    margin-right:auto;
    width:800px;
    justify-items: space-evenly ;
    
  }

  .explainBox{
    width:auto;
  }


  .contact a{
    font-size:18px;
  }
  .contact p{
    font-size: 18px;
  }
}









  