* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 1%;
}

body {
  font-weight: 400;   
  background-image: url(../images/green.jpg);
  background-size:cover;
  width:95%;
  padding:0 .5em;
}


/* header designs */

h1{
  font-family: Arial, Helvetica, sans-serif;    
  font-size:20px;
   margin-left:.25em;
   color:#C8F7C5;
  }
  
header {      
  color:#C8F7C5;
  text-align: left;
  height:7em;
  background-image:url(../images/goldgavel.png) ;
  background-repeat:no-repeat;
  background-size: 100%;
  background-position:center;
  
}

.mainBox{
  display:flex;
  flex-direction: column;
  justify-content:space-between;
  margin-top:.5em;  
}




/* main styles */
main{
  margin-top:.5em;
  margin-bottom:.5em;
  flex:display;
  flex-direction:row;
  
  
}
.searchBox{
  display:flex;
  flex-direction:column;
  width:13em;
  height:15em;
  background-image:url(../images/purpleback.png);
  background-size:cover;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left:.5em;
  margin-top:0;

}

.introSearch{
  display:flex;
  flex-direction:column;
  margin-left:.5em;
  width:15em;
  height:15em;
  background-image:url(../images/purpleback.png);
  background-size:cover;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
}

.col{
  flex:display;
  flex-direction:column;
}

.row{
  flex:display;
  flex-direction:row;
}
.resultsBox{
  display:flex;
  flex-direction:column;
  width:auto;
  height:auto;
  background-color: grey;
  margin-left:.5em;
  color:#C8F7C5;
}

.appendedBox{
  display:flex;
  flex-direction:column;
  width:35em;
  height:15em;
  background-color: lightseagreen;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:#C8F7C5;
  padding:.5em .5em;
  
}


.mainBox{
  display:flex;
  color:#C8F7C5;
  flex-direction:row;
  
  width:100%;
  margin:auto;
  background-image:url('#crimepic');
}
h2{
  font-size:22px;
  text-align:center;
  color:#C8F7C5;
  padding-bottom:.5em;
}

h4{
  font-size:18px;
  text-transform:uppercase;
  text-align:left;
  padding-left: 1em;
}

ul.badge li {list-style-image: url('#imageOfBadge');}

ul{
  font-size:14px;
  margin-left:.55em;
  text-transform:capitalize;
}
li {
  font-size:14px;
  color:#C8F7C5;
  margin-left:1em;
  padding:.5em .5em;
}

a:link {
  color: #C8F7C5;
}

/* visited link */
a:visited {
  color: #C8F7C5;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: yellow;
}

label{
  width: 85px;
  clear:left;
}
input,label{
  float: left;
  
}
form label{
  font-size:16px;
  color:#C8F7C5;
}

form button{
  font-size:14px;
  padding:.25em .25em;
  width:5em;
}

.butt{
  
  font-size:14px;
  margin:.25em .25em;
  margin-left:5em;
  padding:.25em .25em;
  width:5em;
}

h3{
  text-align:left;
  font-size:21px;
  color:#C8F7C5;
  margin-left:.5em;
}
h5{
  font-size: 21px;
  text-align:left;
  color:#C8F7C5;
  margin-right:20em;
}
.contact{
  display:flex;
  flex-direction:column;
  width:100%;
  margin-top:.5em;
  margin-left: .5em;
  text-align: left;
  padding:.5em 0;    
  height:10.5em;
  background-image:url(../images/contact2.png);
  background-repeat:no-repeat;
  background-position: left;
}

form textarea{
  height:10em;
  width:100%;
  color:#C8F7C5;
  font-size:16px;

}

.rightSideBox{
  font-family: Arial, Helvetica, sans-serif;
  color:#C8F7C5;
  width:auto;
  height:50px;
  margin-top:2.5em;
  margin-right:24em;
  font-size:20px;
}



/* dropbox style */
.dropbtn {
  background-color: #3498DB;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #2980B9;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}

/*  */







