* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border-radius: 1%;
}

body {
  font-weight: 400;   
  background-image: url(../images/green.jpg);
  background-size:cover;
  width:100%;
  padding:0 .5em;
}

.hide{
  display:none;
}


/* header designs */

h1{
  font-family: Arial, Helvetica, sans-serif;    
  font-size:24px;
   margin-left:.5em;
   color:#C8F7C5;
  }


  
header {      
  color:#C8F7C5;
  text-align: left;
  height:9em;
  background-image:url(../images/goldgavel.png) ;
  background-repeat:no-repeat;
  background-size: 100%;
  background-position:center;
  margin-left:.5em;
  
}
/* main styles */

main{
  margin-top:.5em;
  margin-bottom:.5em;
  flex:display;  
}

a {
  font-size:18px;
}

p{
  font-size:18px;
  color:#C8F7C5;
}

h2{
  font-size:22px;
  text-align:left;
  color:#C8F7C5;
  padding-bottom:.5em;
  padding-left:.5em;
}

h3{
  text-align:left;
  font-size:20px;
  color:#C8F7C5;
  margin-left:1.5em;
}


h4{
  font-size:18px;
  text-transform:uppercase;
  text-align:left;
  padding-left: 1em;
}

h5{
  font-size: 21px;
  text-align:left;
  color:#C8F7C5;
  margin-right:20em;
}

.mainBox{
  display:flex;
  flex-direction: column;
  justify-content:space-between;
  
}

.searchBox{
  display:flex;
  flex-direction:column;
  width:auto;
  height:15em;
  background-image:url(../images/purpleback.png);
  background-size:cover;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left:.5em;
  margin-top:0;
  padding-left:.5em;

}

.introBox{
  display:flex;
  flex-direction:column;
  margin-left:.5em;
  width:auto;
  height:15em;
  background-image:url(../images/purpleback.png);
  background-size:cover;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;;
}

.col{
  flex:display;
  flex-direction:column;
}

.row{
  flex:display;
  flex-direction:row;
}
.resultsBox{
  display:flex;
  flex-direction:column;
  width:auto;
  height:auto;
  background-color: grey;
  margin-left:.5em;
  margin-top:.5em;
  color:#C8F7C5;
}

.resultsBox li{
  font-size:12px;
}

.appendedBox{
  display:flex;
  flex-direction:column;
  width:35em;
  height:15em;
  background-color: lightseagreen;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color:#C8F7C5;
  padding:.5em .5em;
  
}




ul.badge li {list-style-image: url('#imageOfBadge');}

ul{
  font-size:14px;
  margin-left:.55em;
  text-transform:capitalize;
}
li {
  font-size:14px;
  color:#C8F7C5;
  margin-left:2em;
  padding:.5em .5em;
}

a:link {
  color: #C8F7C5;
}

/* visited link */
a:visited {
  color: #C8F7C5;
}

/* mouse over link */
a:hover {
  color: red;
}

/* selected link */
a:active {
  color: yellow;
}

label{
  width: 85px;
  clear:left;
}
input,label{
  float: left;
  
}


form label{
  font-size:16px;
  color:#C8F7C5;
}

form button{
  font-size:14px;
  /* padding:.25em .25em; */
  width:5em;
}

.butt{
  
  font-size:12px;
  margin:.25em;
  /* padding:.05em; */
  width:5em;
}


.contact{
  display:flex;
  flex-direction:column;
  /* width:100%; */
  margin-top:.5em;
  margin-left: .5em;
  text-align: left;
  padding:.5em .5em;    
  height:9em;
  background-image:url(../images/contact2.png);
  background-repeat:no-repeat;
  background-position: left;
  background-size: 100%;
}

.contact h2{
  font-size:22px;
  text-align:left;
  color:#C8F7C5;
  padding-bottom:.5em;
  padding-left:0em;
  
}

form textarea{
  height:7em;
  width:100%;
  color:#C8F7C5;
  font-size:16px;

}

.rightSideBox{
  font-family: Arial, Helvetica, sans-serif;
  color:#C8F7C5;
  width:auto;
  height:50px;
  margin-top:2.5em;
  margin-right:24em;
  font-size:20px;
}




@media screen and (min-width: 768px){ 
  body {
    font-weight: 400;   
    background-image: url(../images/green.jpg);
    background-size:cover;
    width:100%;
    padding-left:.5em;
  }
  
  
  h1{
    font-size:30px;
    
  }

  header{
    background-size:100%;
    height:14em;
  }


  /* main */

  .mainBox{
    flex-direction: row;
  }

  .explainBox{
    font-size: 18px;
  }

  h2{
    font-size: 24px;
    padding-left:0;
  }

  .butt{
    font-size:16px;
    width:5em;
    height:2em;
    
  }

  label{
    width:100px;
  }
  input{
    width:200px;
  }

  form label{
    font-size:18px;
  }

  
  .resultsBox li{
    font-size:16px;
  }

  
}

/*  */

@media screen and (min-width: 1440px){ 
  body{
    width:100%;
  }

  header{
    background-size: 100%;
    width:500px;
  }

  .contact{
    background-size: 100%;
    width:500px;
  }


}








